<fieldset class="fields required">
  <ol>
    <li>
      <%= f.text_area :body, :rows => 5, :cols => 40 %>
    </li>
  </ol>
</fieldset>

<fieldset class="actions">
  <ol>
    <li>
      <%= f.submit %>
      or
      <%= link_to 'cancel', @link %>
    </li>
  </ol>
</fieldset>
