<fieldset class="fields required">
  <ol>
    <li>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </li>
  </ol>
</fieldset>

<fieldset class="actions">
  <ol>
    <li>
      <%= f.submit %>
      or
      <%= link_to 'cancel', links_path %>
    </li>
  </ol>
</fieldset>
