<h2><%= link_to @link.url %></h2>

<p><%= link_to 'Add a comment', new_link_comment_path(@link) %></p>

<ol>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', :comment => comment %>
  <% end %>
</ol>
