<h2><%= link_to @link.url %></h2>

<p><%= link_to 'Add a comment', new_link_comment_path(@link) %></p>

<ol>
  <% @link.comments.each do |comment| %>
    <li>
      <%= comment.body %>

      <p class="meta">
        Posted by <%= comment.user.name %>
      </p>
    </li>
  <% end %>
</ol>
